<beans xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:s="urn:java:ee"
   xmlns:security="urn:java:org.jboss.seam.security"
   xmlns:plidm="urn:java:org.jboss.seam.security.management.picketlink"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://jboss.org/schema/cdi/beans_1_0.xsd">
   
   <security:Identity>
      <s:modifies/>
      <security:authenticatorClass>org.jboss.seam.security.management.IdmAuthenticator</security:authenticatorClass>
   </security:Identity>

   <plidm:JpaIdentityStoreConfiguration>
      <s:replaces/>
      <plidm:identityClass>de.urb.sipbook.ejb.model.IdentityObject</plidm:identityClass>
      <plidm:credentialClass>de.urb.sipbook.ejb.model.IdentityObjectCredential</plidm:credentialClass>
      <plidm:relationshipClass>de.urb.sipbook.ejb.model.IdentityObjectRelationship</plidm:relationshipClass>
      <plidm:roleTypeClass>de.urb.sipbook.ejb.model.IdentityRoleName</plidm:roleTypeClass>
      <plidm:attributeClass>de.urb.sipbook.ejb.model.IdentityObjectAttribute</plidm:attributeClass>
   </plidm:JpaIdentityStoreConfiguration>
   
   <interceptors>
      <class>org.jboss.seam.security.SecurityInterceptor</class>
   </interceptors>
</beans>
